<ion-view view-title="Playlist">
  
    
  <div ng-controller="DspmCtrl">
    
    <ion-content>
        <div class="row header">
          <div class="col">รหัสหน่วยบริการ</div>
          <div class="col">หน่วยบริการ</div>
          <div class="col">เป้าหมาย</div>
          <div class="col">ผลงาน</div>
          <div class="col"></div>
        </div>
        <div class="row" ng-repeat="data in dspm">
          <div class="col">{{data.hospcode}}</div>
          <div class="col">{{data.hosname}}</div>
          <div class="col"> {{data.target}}</div>
          <div class="col">{{data.result}}</div>
          <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
        </div>
  </ion-content>
</ion-view>
