body {
  
}

.header .col {
  border-top: solid 1px grey;
  background-color:lightgrey;
}

.col:first-child {
  border-left: solid 1px grey;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row .col {
  border-bottom: solid 1px grey;
}